body {
  background-color: #eee;
}

.caja {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  border-top: solid 0px;
}

.header {
  padding: 10px;
  border-bottom: solid 1px #eee;
}

.contenido {
  padding: 10px;
}

.footer {
  padding: 10px;
  border-top: solid 1px #eee;
}

.primario {
  background-color: #0090ff;
  border: 0px;
  padding: 5px;
  color: aliceblue;
}

.secundario {
  background-color: #aaa;
  border: 0px;
  padding: 5px;
  color: aliceblue;
}
